<html>
<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<div class="container">
    	<div class="starter-template">
        	<h1>Dynamically Generated</h1>
	        	<p class="lead">A sentence goes here:
	        		<span id="sentence"></span> 
	        	</p>
	        	<p class="lead">A challenge goes here:
	        		<span id="challenge"></span> 
	        	</p>
      	</div>
    	<div id="error" class="text-danger">
      	</div>

    </div>

	<!-- JavaScript for Dynamic Behavior: -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" th:src="@{/js/jquery-1.11.0.min.js}" />	

<script type="text/javascript">
	
	//	TODO: Alter this prefix when instructed.
	var prefix = "http://172.18.100.15:8020";

	// Perform AJAX requests...
	$.getJSON(prefix + "/sentence",   null, displaySentence)  .fail(displayErrorSentence);
	$.getJSON("http://172.18.100.16:8030/challenge/md5",   null, displayChallenge)  .fail(displayErrorChallenge);
	
	//	Handle Success:

	function displaySentence(results) {
		$("#sentence").html(results.sentence);
	}
	function displayChallenge(results) {
		$("#challenge").html(results.challenge);
	}
	
	
	//	Handle Errors:	
	
	function displayErrorSentence(x, s, m) {
		err(x, s, m, "sentence");
	}
	function displayErrorChallenge(x, s, m) {
		err(x, s, m, "challenge");
	}
	
	// Dsiplay text of AJAX error message using a hidden div
	function err(xhr, status, msg, prefix) {
	 	// Display an error in the 'error' div above and show it.
		var text = xhr.responseText;
		var emsg = "<p><b>AJAX Failure retrieving " + prefix + ": " + xhr.status + " " + msg + "</b><br/></p>";
	
		$("#error").append(emsg);
		$("#error").show();
	}
</script>

</body>
</html>
